<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="pmwiki.php" />
            </files>
        </defaultDocument>
        <rewrite>
         <rules>
           <!-- Send requests for pages to pmwiki.php -->
           <rule name="rule 1L" stopProcessing="true">
             <match url="^([A-Z0-9\xa0-\xff].*)" ignoreCase="false" />
             <action type="Rewrite" url="pmwiki.php?n={R:1}" appendQueryString="true" logRewrittenUrl="false" />
           </rule>
         </rules>
         </rewrite>
        <httpErrors errorMode="DetailedLocalOnly" />
    </system.webServer>
</configuration>
